<!DOCTYPE html>
<html>

<head>
    <title>Graph Visualization</title>
    <style type="text/css">
         #graph {
            height: 800px;
            border: 1px solid lightgray;
            width: 80%; /* Set width to 80% for left pane */
            float: left; /* Float left for left pane */
        }

        #nodeDetails {
            margin-top: 10px;
            border: 1px solid lightgray;
<!--            width: 20%; /* Set width to 80% for left pane */-->
            padding: 10px;
            float: left; /* Float left for left pane */
        }

        #filterInput {
            margin-bottom: 20px;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" type="text/css" />-->
</head>

<body>
    <input id="filterInput" placeholder="Filter by label" type="text">
    <label for="exactMatchCheckbox">Exact Match:</label>
    <input id="exactMatchCheckbox" type="checkbox"/>
    <div id="graph"></div>
    <div id="nodeDetails"></div>

    <script type="text/javascript">
            // Data object
            const data = JSON.parse('{{ graph_data | escapejs }}');

            // Create a network visualization
            const container = document.getElementById('graph');
            const options = {
                nodes: {
                    shape: 'box',
                    borderRadius: 10,
                    color: {
                        background: 'lightblue',
                        border: 'black',
                        highlight: {
                            background: 'lightblue',
                            border: 'black'
                        }
                    },
                    font: {
                        face: 'Arial',
                        size: 20
                    }
                },
                edges: {
                    arrows: {
                        to: {
                            enabled: true,
                            type: 'arrow'
                        }
                    },
                    font: {
                        face: 'Arial',
                        size: 17
                    },
                    smooth: {
                        type: 'cubicBezier',
                        roundness: 0.4 // Set the roundness of the edges
                    },
                    align: 'horizontal' // Set the alignment of edge labels to horizontal
        },
                layout: {
                    hierarchical: {
                        direction: 'LR', // Set direction to left to right
                        sortMethod: 'directed', // Sort nodes based on directed edges
                        levelSeparation: 500, // Set spacing between levels
                        nodeSpacing: 10 // Set spacing between nodes on the same level
                    }
                },
                interaction: {
                    hover: true,
                    selectConnectedEdges: false,
                    multiselect: false
                }
            };
            const network = new vis.Network(container, data, options);

            // Update node colors based on level
            function color_level(data) {
                data.nodes.forEach(node => {
                    if (node.level === 0) {
                        network.body.nodes[node.id].options.color.background = 'lightblue';
                    } else if (node.level === 1) {
                        network.body.nodes[node.id].options.color.background = 'lightgreen';
                    } else if (node.level === 2) {
                        network.body.nodes[node.id].options.color.background = 'lightsalmon';
                    }
                });

                network.redraw();
            }
            color_level(data)


    <!--        data.nodes.forEach(node => {-->
    <!--            if (node.level === 0) {-->
    <!--                network.body.nodes[node.id].options.color.background = 'lightblue';-->
    <!--            } else if (node.level === 1) {-->
    <!--                network.body.nodes[node.id].options.color.background = 'lightgreen';-->
    <!--            } else if (node.level === 2) {-->
    <!--                network.body.nodes[node.id].options.color.background = 'lightsalmon';-->
    <!--            }-->
    <!--        });-->

    <!--        network.redraw();-->


          // Display node details in right pane when clicked
          network.on("click", function (params) {
                const nodeId = params.nodes[0];
                const node = data.nodes.find(function (n) {
                                return n.id === nodeId;
                             });
                displayNodeDetails(node);
            });

          function displayNodeDetails(node) {
            const nodeDetailsElement = document.getElementById("nodeDetails");
            if (nodeDetailsElement) {
                nodeDetailsElement.innerHTML = `Node ID: ${node.id}<br>
                                                Label: ${node.label}<br>
                                                Level: ${node.level}`;
            }
    }

        // Function to show popup with node properties
        function showPopup(node) {
            const props = node.props;
            let tableHtml = '<table>';
            for (const prop in props) {
                tableHtml += `<tr><td>${prop}</td><td>${props[prop]}</td></tr>`;
            }
            tableHtml += '</table>';

            const popupHtml = `
                <div style="padding: 16px;">
                    <h3>${node.title}</h3>
                    ${tableHtml}
                </div>
            `;

            // Create a popup div element
            const popupDiv = document.createElement('div');
            popupDiv.innerHTML = popupHtml;
            popupDiv.style.position = 'absolute';
            popupDiv.style.top = '50%';
            popupDiv.style.left = '50%';
            popupDiv.style.transform = 'translate(-50%, -50%)';
            popupDiv.style.backgroundColor = 'white';
            popupDiv.style.border = '1px solid black';
            popupDiv.style.padding = '16px';
            popupDiv.style.zIndex = '9999';

            // Append popup div to body
            document.body.appendChild(popupDiv);

            // Add click event listener to close the popup when clicked outside of it
            document.addEventListener('click', function closePopup(event) {
                if (!popupDiv.contains(event.target)) {
                    popupDiv.remove();
                    document.removeEventListener('click', closePopup);
                }
            });
        }


        // Adding hover event listener to the network
        network.on("hoverNode", function(params) {
            // The callback function will be executed when a node is hovered

            // Access information about the hovered node through the 'params' object
            const nodeId = params.nodes[0];
            const node = data.nodes.find(function (n) {
                                return n.id === nodeId;
                             });

            // Call the showPopup function with the hovered node information
            showPopup(node);
        });

        // Add event listener to filter input
    document.getElementById('filterInput').addEventListener('input', function () {
        // Reload the page if filter input is empty
        if (this.value === '') {
            location.reload();
            return;
        }
        const filterValue = this.value.toLowerCase();
        const exactMatch = document.getElementById('exactMatchCheckbox').checked;

        // Perform BFS to find all connected nodes and edges
        const connectedNodes = new Set();
        const connectedEdges = new Set();
        const filterNode = data.nodes.find(n => n.label === filterValue)
        const queue = [filterNode.id];
        const visited = new Set();

        while (queue.length > 0) {
            const currentNode = queue.shift();
            visited.add(currentNode);

            // Find nodes connected to current node
            data.edges.forEach(edge => {
                if (edge.from === currentNode || edge.to === currentNode) {
                    connectedEdges.add(edge.id);

                    if (edge.from === currentNode && !visited.has(edge.to)) {
                        queue.push(edge.to);
                        connectedNodes.add(edge.to);
                    } else if (edge.to === currentNode && !visited.has(edge.from)) {
                        queue.push(edge.from);
                        connectedNodes.add(edge.from);
                    }
                }
            });
        }

        // Loop through all nodes and update their visibility and highlighting
        data.nodes.forEach(function (node) {
            const isFilteredNode = node.label.toLowerCase() === filterValue;

            // Update visibility of nodes based on filter input
            if (exactMatch) {
                if (isFilteredNode || connectedNodes.has(node.id)) {
                    node.hidden = false;
                } else {
                    node.hidden = true;
                }
            } else {
                if (node.label.toLowerCase().includes(filterValue) || connectedNodes.has(node.id)) {
                    node.hidden = false;
                } else {
                    node.hidden = true;
                }
            }

    <!--        // Update highlighting of connected nodes-->
    <!--        if (connectedNodes.has(node.id)) {-->
    <!--            node.color = { background: 'yellow' };-->
    <!--        } else {-->
    <!--            node.color = { background: 'white' };-->
    <!--        }-->
        });

        // Loop through all edges and update their visibility and color
        data.edges.forEach(function (edge) {
            if (connectedEdges.has(edge.id)) {
                edge.hidden = false;
                edge.color = { color: 'yellow' };
            } else {
                edge.hidden = true;
            }
        });

        // Display node details in right pane when clicked
        network.on('click', event => {
            const nodeId = event.nodes[0];
            if (nodeId) {
                const node = data.nodes.find(node => node.id === nodeId);
                if (node) {
                    const nodeDetailsElement = document.getElementById('nodeDetails');
                    nodeDetailsElement.innerHTML = `
                        <label>ID:</label> <span>${node.id}</span><br>
                        <label>Label:</label> <span>${node.label}</span><br>
                        <label>Level:</label> <span>${node.level}</span>
                    `;
                }
            }
        });

        // Update the visualization with the modified data
        network.setData(data);
        color_level(data)
    });



    </script>
</body>

</html>
